{% extends "layout.html" %}

{% block body %}
<!-- Page Content -->
<!-- Page Content -->
  <div class="container">

    <h1 class="my-3">Welcome</h1>

    <!-- Marketing Icons Section -->

    <div class="row">

      <div class="col-lg-6 mb-6">
        <div class="card h-100">
          <h4 class="card-header">Payments</h4>
          <div class="card-body">
            <p class="card-text">Go to our payments page to pay with venmo, square cash, paypal, or bitcoin.  More coming soon.</p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('payments') }}" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>


    </div>
  </div>
    <!-- /.row -->
  <!-- /.row -->
{% endblock %}
